body {
  margin: 0;
  padding: 0;
  background: transparent;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url("../assets/REGISTRATION_LANDSCAPE_2.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.hexagon {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1; /* Hexagon is initially first in the row */
   /* Adjusted margin to push the hexagon more to the left */
}

.hexagon img{
  width: 300px;
}

.hexagon .phone{
  display: none;
}
.sign {
  flex: 1;
  background-color: #A1534E;
  border-radius: 10px;
  padding: 1.5rem;
  width: 80%;
  max-width: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-right: 250px; /* Adjusted margin to move the sign closer to the hexagon */
  order: 2; /* Sign is initially second in the row */
}

.button {
  color: #fff;
  background-color: #5F130F;
  color: white;
  padding: 12px 80px;
  border: 2px solid #5F130F;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.5em;
}

.button:hover {
  background-color: #d37750;
}

.text {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.step-title {
  color: #fff;
  font-size: 2em;
}

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .hexagon .desktop {
    display: none; /* Hide the image for larger screens */
}

.hexagon .phone {
    display: block; /* Show the image for smaller screens */
}

  .hexagon {
      order: 1; /* Hexagon is first in the column for smaller screens */
      margin-right: 0; /* Remove the margin on smaller screens */
  }

  .sign {
      margin-right: 0;
      order: 1; /* Sign is second in the column for smaller screens */
  }
}
